<%-include('admin_dashboard_header.ejs')%>
<div class="content-wrapper iframe-mode" data-widget="iframe" data-loading-screen="750">
    <div class=" mt-2">
<h1 class="text-center">Welcome to the admin dashboard</h1>
</div>
</div>

<%-include('admin_dashboard_footer.ejs')%>